.Nav {
  z-index: 5;
  position: fixed;
  left: 10px;
  top: 60px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
a {
  /* background-color: var(--forth-bg-color); */
  background-color: var(--main-bg-color);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.295);
}
.Nav a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start;
  padding-bottom: 5px;
  padding-left: 20px;

  text-decoration-line: none;

  color: black;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  width: 130px;
  height: 45px;

  transition: 0.2s;
}

.Nav a:hover {
  transform: translateX(10px);
  transition: 0.2s;
}

input[type="checkbox"] {
  opacity: 0;
  /* z-index: 2; */
}

.slider {
  position: absolute;
  width: 100%;
}

.slider::before {
  content: "";
  margin-top: 10px;
  width: 25%;
  height: 5px;
  border-radius: 10px;
  background-color: var(--second-bg-color);
  display: block;
  transition: 0.5s;
}

input[type="checkbox"]:checked + .slider::before {
  width: 70%;
  transition: 0.5s;
}

.active-nav {
  transform: translateX(10px);
  background-color: var(--main-bg-color);
}

@media screen and (max-width: 500px) {
  .Nav {
    top: 40px;
  }
  .Nav a {
    width: 105px;
    height: 40px;
  }
}
